/*Grid for dashboard, header, projects, announcement, trending (as containers)*/
/*Flex for content within containers*/

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:  1fr 5fr;
    border: 8px solid yellow;
    height: 100vh;
}

img {
    border-radius: 50%;
}

.dashboard {
    display: flex;
    flex-direction: column;
    border: solid 2px blue;
    grid-row: 1 / 3;
}

.dashboard > * {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-heading-text {
    font-size: 20px;
    font-weight: bold;
}

.dashboard-heading {
    margin-bottom: 5vh
}

.dashboard img {
    width: 30px;
    height: 30px;
}

.dashboard a {
    text-decoration: none;
    color: black;
}

.header {
    border: solid 2px red;
    grid-column: 2 / 3;
}

.header-top {
    display: flex;
}

.header-top-profile-elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-bottom {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-profile-elements {
    display: flex;
    align-items: center;
}

.header-bottom-profile-elements .user-welcome {
    width: 15vw;
}

.header-bottom-buttons {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.header-bottom button {
    width: 90px;
    height: 40px;
    border-radius: 40%;
}

#search_bar {
    width: 50%;
    height: 25px;
    margin-right: 10%;
}

.header-top img {
    width: 30px;
    height: 30px;
}

.header-top #small-profile-image {
    width: 50px;
    height: 50px;
}

.header-bottom #large-profile-image {
    width: 125px;
    height: 125px;
}

.main {
    display: flex;
    border: 3px solid purple;
    gap: 30px
}

.main-left-side {
    width: 75%;
}

.main-right-side {
    display: flex;
    flex-direction: column;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row: 2 / 4;
    gap: 15px;
    margin: 30px;
    border: 3px solid green
}

.projects .card {
    background-color: lightgrey;
    border-radius: 10%;
    padding: 10px;
    height: 200px;
}

.trending img {
    width: 50px;
    height: 50px;
}